<h2>Latest posts:</h2>
<% @results.each do |post| %>
	<div class="bs-callout bs-callout-success"> 
		<p><b><%= post['content']%></b></p>
		</br>
		<a href= "/post/<%= post['id']%>">Comments(
			<% @NumComments.each do |comment| %> 


				<%= comment['count(post_id)'] if comment['post_id']==post['id'] %>
				
			<%end%>
			)
		 </a>	
		<p ALIGN=RIGHT><i>Posted by <%= post['name'] %> at <%= post['created_date']%></i></p> 
	</div>
<% end %>

