<h3>Post: #<%= @row['id']%></h3>
<p>
	<div class="bs-callout bs-callout-success"> 
		<p><b><%= @row['content']%></b></p>
		</br>
		<p ALIGN=RIGHT><i><%= @row['created_date']%></i></p> 
	</div>
</p>
</br>
Comments:
</br>
<hr/>
<% @comments.each do |comment| %>
	<p><b><%= comment['content']%></b></p>
		<small style="color: #999"><i>Added at <%= comment['created_date']%> by <%= comment['name'] %></i></small>
		</br>
		<hr/> 
<% end %>
</br>
<p>
	<form action="/post/<%= @row['id']%>" method="POST" role="form">
	  <div class="form-group">
    	<label>Your name</label>
    	<input name="name" class="form-control"  placeholder="Enter your name" value="<%= @name %>">
  	  </div>
	  <textarea name="content" class="form-control" rows="2" placeholder="Type comment here"></textarea>
	  </br>
	  <button type="submit" class="btn btn-success">Add comment!</button>
	</form>
</p>